<div class="center" *ngIf="loading">
  <mat-spinner diameter="50" class="spinner"></mat-spinner>
</div>

<div [hidden]="loading">
  <mat-toolbar class="mt-60">Puntajes</mat-toolbar>

  <div class="container">
    <mat-card class="my-20">
      <!--Actions header-->
      <mat-grid-list cols="2" rowHeight="8:1">
        <mat-grid-tile
          ><mat-form-field appearance="fill">
            <mat-label>Filtro</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ej. Pedro"
              #input
              autocomplete="off"
            /> </mat-form-field
        ></mat-grid-tile>
        <mat-grid-tile>
          <span class="spacer"></span>

          <button
            mat-fab
            color="primary"
            (click)="openDialogAgregar()"
            matTooltip="Agregar Puntaje"
            matTooltipPosition="above"
            class="mat-elevation-z0"
          >
            <mat-icon>add</mat-icon>
          </button></mat-grid-tile
        >
      </mat-grid-list>

      <!--Table-->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="idPuntaje">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>#</strong>
            </th>
            <td mat-cell *matCellDef="let puntaje">
              <strong>{{ puntaje.idPuntaje }}</strong>
            </td>
          </ng-container>

          <ng-container matColumnDef="alumno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Alumno</th>
            <td mat-cell *matCellDef="let puntaje">
              {{ puntaje.apellidoAlumno }}, {{ puntaje.nombreAlumno }}
            </td>
          </ng-container>

          <ng-container matColumnDef="profesor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Profesor</th>
            <td mat-cell *matCellDef="let puntaje">
              {{ puntaje.apellidoProfesor }}, {{ puntaje.nombreProfesor }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tema">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tema</th>
            <td mat-cell *matCellDef="let puntaje">{{ puntaje.tema }}</td>
          </ng-container>

          <ng-container matColumnDef="promedio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Promedio</th>
            <td mat-cell *matCellDef="let puntaje">
              {{
                (puntaje.interes +
                  puntaje.complejidad +
                  puntaje.entendimiento +
                  puntaje.valoracion) /
                  4
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let puntaje" class="ta-right">
              <a
                class="pointer"
                matTooltip="Consultar Puntaje"
                matTooltipPosition="above"
                (click)="openDialogConsultar(puntaje)"
              >
                <mat-icon>search</mat-icon>
              </a>
              <a
                class="pointer"
                matTooltip="Editar Puntaje"
                matTooltipPosition="above"
                (click)="openDialogEditar(puntaje)"
              >
                <mat-icon>edit</mat-icon>
              </a>
              <a
                class="pointer"
                matTooltip="Eliminar Puntaje"
                matTooltipPosition="above"
                (click)="openDialogEliminar(puntaje)"
              >
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons>
        </mat-paginator>
      </div>
    </mat-card>
  </div>
</div>
