.image {
  width: 150px;
  height: 150px;
}

.mw-500 {
  max-width: 800px;
}

.mat-grid-tile-content {
  justify-content: left;
}

.label {
  width: 150px;
  font-weight: bold;
  text-decoration: underline;
}

mat-progress-bar {
  width: 150px;
}
