@import "~normalize.css";

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.mt-5 {
  margin-top: 5px;
}

.my-20 {
  margin: 20px 0;
}

.mt-60 {
  margin-top: 60px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-spinner {
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

.center {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.spinner {
  margin: 0 auto;
}
