<mat-toolbar color="primary" class="mat-elevation-z6">
  <div class="footer-item">
    <a href="https://github.com/" target="_blank">
      <p>Github repository</p>
    </a>
  </div>
  <span class="spacer"></span>
  <div class="footer-item">
    <p>Developed by&nbsp;</p>
    <a
      href="https://www.linkedin.com/in/merlinifrancisco/"
      target="_blank"
      class="accent"
    >
      Francisco Merlini</a
    >
  </div>
  <span class="spacer"></span>
  <div class="footer-item">
    <p>Copyright &copy; 2022. All rights reserved.</p>
  </div>
</mat-toolbar>
